---
openapi: 3.0.1
info:
  title: Blogs API V1
  version: v1
components:
  securityDefinitions:
    jwt_token:
      type: http
      scheme: basic
  schemas:
    user:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
      required:
      - first_name
      - last_name
      - email
    post:
      type: object
      properties:
        title:
          type: string
      required:
      - title
    comment:
      type: object
      properties:
        content:
          type: string
      required:
      - content
paths:
  "/auth/sessions":
    post:
      summary: Authentication
      tags:
      - Sessions
      parameters: []
      responses:
        '200':
          description: success
        '401':
          description: unauthorized
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
              - email
              - password
  "/posts/{post_id}/comments":
    post:
      summary: Comment
      tags:
      - Comment
      security:
      - jwt_token: []
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: post_id
        in: path
        format: uuid
        required: true
        schema:
          type: string
      responses:
        '201':
          description: created
        '404':
          description: not_found
        '401':
          description: unauthorized
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/comment"
  "/posts":
    post:
      summary: Post
      tags:
      - posts
      security:
      - jwt_token: []
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      responses:
        '201':
          description: created
        '422':
          description: unprocessable_entity
        '401':
          description: unauthorized
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/post"
  "/version":
    get:
      summary: Gets the API version
      tags:
      - Version
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      responses:
        '200':
          description: API version
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: 0.0.1
            application/xml:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: 0.0.1
servers:
- url: https://tbd.com
  description: Staging / QA
- url: http://localhost:3000
  description: Localhost
